{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Your Assets</title>
    <link rel="stylesheet" href="{% static 'main/CSS/home_page.css' %}">
</head>
<body>
    <div class="overlay">
        <header>
            <div class="login-btn">
                <a href="/login" class="btn">Login</a>
            </div>
        </header>
        <main>
            <h1>I will help you to handle your money</h1>
        </main>
    </div>
</body>
</html>